body {
  background-color: #000000;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.box {
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.box:hover {
  background-color: #CAD5E2;
}

.icon {
  font-size: 35px;
  color: #000000;
}

.icon-circle {
  font-size: 40px;
  color: #3DBE29;
}

.icon-cross {
  font-size: 40px;
  color: #D82E2F;
}
